<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    
    <h1>Ofertas</h1>
    <div class="galeria">
    <div class ="foto">
        <img src="../../assets/imagen/xbox.png"[width]="250" height="250" alt="">
       
    </div>
    <div class="pie">
        <p>Electronica</p>
        <p>Centro de carga Xbox</p>
        <p>Antes: $900  Ahora:$400</p>
    </div>
    </div>
    <div class="galeria">
        <div class ="foto">
            <img src="../../assets/imagen/mochila.png"[width]="250" height="250" alt="">
    
        </div>
        <div class="pie">
            <p>Basico</p>
            <p>Mochila Escolar</p>
            <p>Antes: $1500  Ahora:$1200</p>
        </div>
        </div>
        <div class="galeria">
            <div class ="foto">
                <img src="../../assets/imagen/trampolin.png"[width]="250" height="250" alt="">
        
            </div>
            <div class="pie">
                <p>Jardin</p>
                <p>Trampolin Desarmable</p>
                <p>Antes: $1500  Ahora:$1200</p>
            </div>
            </div>
            <div class="galeria">
                <div class ="foto">
                    <img src="../../assets/imagen/tv.png"[width]="250" height="250" alt="">
            
                </div>
                <div class="pie">
                    <p>Electronico</p>
                    <p>Smart Tv</p>
                    <p>Antes: $1500  Ahora:$1200</p>
                </div>
                </div>
           
        <div class="galeria">
            <div class ="foto">
                <img src="../../assets/imagen/vajilla.png"[width]="250" height="250" alt="">
        
            </div>
            <div class="pie">
                <p>Cocina</p>
                <p>Vajilla</p>
                <p>Antes: $1250  Ahora:$800</p>
            </div>
            </div>
            <div class="galeria">
                <div class ="foto">
                    <img src="../../assets/imagen/inalambrico.png"[width]="250" height="250" alt="">
            
                </div>
                <div class="pie">
                    <p>Electronico</p>
                    <p>Audifonos Bluetooth</p>
                    <p>Antes: $800  Ahora:$350</p>
                </div>
                </div>


</body>
</html>