<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Ofertas de Remate </h1>
    <div class="galeria">
    <div class ="foto">
        <img src="../../assets/imagen/alexa.png"[width]="250" height="250" alt="">

    </div>
    <div class="pie">
        <p>Electronica</p>
        <p>Alexa</p>
        <p>Precio Remate: $499</p>
    </div>
    </div>
    <div class="galeria">
        <div class ="foto">
            <img src="../../assets/imagen/escritorio.png"[width]="250" height="250" alt="">
    
        </div>
        <div class="pie">
            <p>Oficina</p>
            <p>Escritorio</p>
            <p>Precio Remate: $800</p>
        </div>
        </div>
        <div class="galeria">
            <div class ="foto">
                <img src="../../assets/imagen/estante.png"[width]="250" height="250" alt="">
        
            </div>
            <div class="pie">
                <p>Oficina</p>
                <p>Estante</p>
                <p>Precio Remate: $300</p>
            </div>
            </div>
            <div class="galeria">
                <div class ="foto">
                    <img src="../../assets/imagen/botella.png"[width]="250" height="250" alt="">
            
                </div>
                <div class="pie">
                    <p>Cocina</p>
                    <p>Termo Plastico</p>
                    <p>Precio Remate: $100</p>

                </div>
                </div>
           
        <div class="galeria">
            <div class ="foto">
                <img src="../../assets/imagen/uñas.png"[width]="250" height="250" alt="">
        
            </div>
            <div class="pie">
                <p>Cosmeticos</p>
                <p>Uñas</p>
                <p>Precio Remate: $150</p>
            </div>
            </div>
            <div class="galeria">
                <div class ="foto">
                    <img src="../../assets/imagen/gato.png"[width]="250" height="250" alt="">
            
                </div>
                <div class="pie">
                    <p>Mascotas</p>
                    <p>Cama de Gato</p>
                    <p>Precio Remate: $400</p>
                </div>
                </div>
</body>
</html>