<body>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title text-center">Gracias por registrarse con nosotros!</h3>
            <div class="form-group">
                <p class="text-center">
                    Enviamos un link de confirmación a tu <strong>Correo electronico</strong>
                </p>
                <p class="text-center">
                    Por favor, checa tu bandeja de entrada y da click en el link que te enviamos para verificar tu cuenta.
                </p>
            </div>
        </div>
    </div>
</body>
